:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

.team-area {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.image-fit {
	max-width: 15px;
	max-height: 15px;
	object-fit: contain;
    margin-right: 0.4rem;
}
