* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	--blue: #2c95d9;
	--green: #19bb70;
	--yellow: #eab34f;
	--red: #dd3542;
	--rl-orange: #e57018;
	--rl-blue: #3e56c4;
}

p {
	padding: 0;
	margin: 0;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

.round-node {
	box-sizing: content-box;
	height: calc(36px + 8*100px + 4px);
	width: calc(250px + 2*4px);
	background-color: #FFF;	
}

.round-node1 {
	box-sizing: content-box;
	height: calc(32px + 4*100px + 4px);
	width: calc(250px + 2*4px);
	color: black;
	background-color: #FFF;	
}

.team-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-fit {
	max-width: 15px;
	max-height: 15px;
	object-fit: contain;
	margin-right: 0.4rem;
}

.matches-area {
	display: flex;
	justify-content: center;
}

.versus-area {
	border-right: 4px solid #595e67;
	border-left: 4px solid #595e67;
	border-bottom: 4px solid #595e67;
	border-radius: 0 0 4px 4px;
}

.versus-grid {
	display: grid;
	grid-template-columns: 100px 50px 100px;
	justify-items: center;
}

.versus-container {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 100px 50px 100px;
	height: 100px;
	/* width: 100%; */
	align-items: center;
	justify-content: center;
	/* border: 1px solid grey; */
	border-bottom: 1px solid black;
}

.versus-container:last-child {
	border-bottom: 1px solid #1b1d22;
	/* border-bottom: none; */
}

.team-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 99px;
	gap: 0.5em;
	background-color: #1b1d22;
}

.image-container {
	width: 100%;
	/* max-height: 150px; */
	flex-grow: 4;
	position: relative;
	height: 50px;
	width: 100px;
}

.team-container,
.versus-section {
	padding: 0.75em 0;
}

.image-container img {
	/* width: 100%; */
	/* max-height: 150px; */
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.score-input {
	background-color: #1b1d22;
	border: 0;
	border-bottom: 2px solid grey;
	color: white;
	/* border-radius: 2px; */
	width: 15px;
	text-align: center;
	font-size: 1.3em;
}

.versus-section {
	background-color: #0e0f13;
	height: 100%;
	width: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

input:focus {
	outline: none;
}

.react-flow__node {
	/* border: 1px solid #5a5d67;
	border-radius: 8px; */
	border: none;
}
.react-flow__node-default {
	/* border: 3px solid #5a5d67;
	border-radius: 8px; */
	border: none;
}

.versus-section-round-title {
	text-align: center;
	font-size: 24px;
	/* min-height: 24px; */
	height: 36px;
	border-radius: 4px 4px 0px 0px;
	color: white;
}

.react-flow__handle {
	background-color: #595e67;
}

.round-start {
	background-color: var(--blue);
}

.round-winning {
	background-color: var(--green);
}

.round-middle {
	background-color: var(--yellow);
}

.round-losing {
	background-color: var(--red);
}

.round-start-text {
	color: var(--blue);
}

.round-winning-text {
	color: var(--green);
}

.round-middle-text {
	color: var(--yellow);
}

.round-losing-text {
	color: var(--red);
}

.rl-orange-text {
	color: var(--rl-orange);
}

.rl-blue-text {
	color: var(--rl-blue);
}

.versus {
	font-family: "bourgeois";
	font-size: 24px;
}

.bourgeois {
	font-family: "bourgeois";
}

@font-face {
	font-family: "bourgeois"; /*a name to be used later*/
	src: url("/fonts/Bourgeois-Ultra.otf"); /*URL to font*/
}

.qualified-handle {
}

.exit-test {
	width: 258px;
	height: calc(36px+80px);
	background-color: white;
}

.exit {
	box-sizing: content-box;
	border-radius: 4px;
	width: 258px;
	height: calc(36px + 80px);
}

.qualified-area {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	/* grid-template-columns: 1fr 1fr 1fr; */
	gap: 4px;
	width: 250px;
	margin-left: 4px;
	height: 76px;
}

.exit-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 0.5em;
	background-color: #1b1d22;
	padding: 0.75em 0;
	border-radius: 2px;
}

.exit-img-container {
	width: 100%;
	/* max-height: 150px; */
	flex-grow: 4;
	position: relative;
	height: 50px;
	width: 60px;
}

.exit-img-container img {
	/* width: 100%; */
	/* max-height: 150px; */
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.reset-panel {
	border-radius: 4px;
}

.reset-panel button {
	margin: 0;
	padding: 0.25em;
}
