* {
  box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

.team-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-fit {
	max-width: 15px;
	max-height: 15px;
	object-fit: contain;
	margin-right: 0.4rem;
}

.matches-area {
	display: flex;
	justify-content: center;
}

.versus-container {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	width: 100%;
	align-items: center;
	justify-content: center;
	/* border: 1px solid grey; */
	border-bottom: 1px solid black;
}

.team-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	gap: 0.5em;
	background-color: #1b1d22;
}

.image-container {
	width: 100%;
	/* max-height: 150px; */
	flex-grow: 4;
	position: relative;
	height: 50px;
	width: 100px;
}

.team-container, .versus-section {
	padding: 0.75em 0;
}

.image-container img {
	/* width: 100%; */
	/* max-height: 150px; */
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.score-input {
	background-color: #1b1d22;
	border: 1px solid grey;
	color: white;
	border-radius: 2px;
	width: 15px;
	text-align: center;
}

.versus-section {
	background-color: #0e0f13;
	height: 100%;
	width: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

input:focus {
  outline: none;
}

.react-flow__node {
	border: 1px solid #5a5d67;
}
.react-flow__node-default {
	border: 3px solid #5a5d67;
}